.ta3rif{
text-align: right;
}
.t{   
     text-align: right;
}
.a{
    text-align: right; 
}
.p{
  color: red;
}
.l{
    text-align: right;
    color: red;
}
.d{
  text-align: right; 
}
.lp{
  text-align: right;
  color: red;
}
.ld{
  text-align: right; 
  color: red;
}
.lm{
  text-align: right;
  color: red; 
}
.lq{
  text-align: right;
}
.lo{
  text-align: right;
  color: red;
}
.la{
  text-align: right;
}
.le{
  text-align: right;
}
.li{
  text-align: right;
}
.k{
  text-align: right;
}
.o{
  text-align: right;
  color: red;
}
.nn{
  text-align: right;
}
.mm{
  text-align: right;
}
.oo{
  text-align: right;
}
.iop{
  text-align: right;
}
.kk{
  text-align: right;
}
.jio{
  text-align: right;
  color: red;
}